#APP
NODE_ENV=
PORT=

#DB
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_DIALECT=


#TEST
DB_TEST_USERNAME=
DB_TEST_PASSWORD=
DB_TEST_NAME=
DB_TEST_HOST=
DB_TEST_PORT=
TEST_DB_DIALECT=

#SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER_NAME=
SMTP_USER_PASS=
SMTP_FROM_EMAIL=
